<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserMusicMapper">
  <resultMap id="BaseResultMap" type="com.model.UserMusic">
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="music_id" jdbcType="INTEGER" property="musicId" />
  </resultMap>
  <select id="selectUmByUId" resultMap="BaseResultMap">
  	select * from user_music where user_id=#{id}
  </select>
</mapper>