<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>软件工程设计-后台管理中心</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/layui/css/layui.css" rel="stylesheet">
		<style type="text/css">
			input::-webkit-outer-spin-button,  
				input::-webkit-inner-spin-button{  
			    	-webkit-appearance: none !important;  
			    	margin: 0;  
				}
				/* 火狐 */
				input[type="number"]{
			        -moz-appearance: textfield;
			    }
		</style>
	</head>
	<body>
		<div class="layui-layout layui-layout-admin">
			<div class="layui-footer" style="width: 1160px" th:fragment="footerHtml">
				<!-- 底部固定区域 -->
				Copyright
			</div>
		</div>

		<script src="/layui/layui.js"></script>
	</body>
</html>