/* css样式初始化 */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}


html {
    font-size: 62.5%;
}
/* header样式初始化*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background:lightseagreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    color: white;
    padding: 0 1rem;
}
/* 导航样式 */
.navbar ul{
    display: flex;
}

.navbar ul li{
    font-weight: bold;
    width: 128px;
    list-style: none;
    text-align:center;
}
.navbar ul li a {
    width: 128px;
    line-height: 45px;
    font-size: 1.7rem;
    color: white;
}
.navbar ul li a:hover{
    color: #009933;
}
/* 二级菜单样式 */
.navbar ul li ul{
    position: absolute;
    display: none;
    width: 128px;
    line-height: 45px;
}

.navbar ul li ul li{
    background-color: #3F3D56;
}
/* 悬浮展开二级菜单 */
.navbar ul li ul li a:hover{
    color: white;
}
.navbar ul li ul li:hover{
    background-color: #009933;
}

.navbar ul li:hover ul{
    display: block;
}
  #a1{width: 40%;height: 360px;float: left;}
            #a2{width: 60%;height: 360px;float: left;}
            #a3{width: 40%;height: 100px;float: left;text-align: center;}
            label{font-size: x-large;}
            #i1{width: 210px;height: 30px; border-radius: 7px 7px 7px 7px;}
            #i2{zoom: 2;}
            select{height: 40px;border: 2px solid deeppink;border-radius: 3px 3px 3px 3px;
            }
            option{height: 20px;}
            #i3{width: 180px;background-color: #6495ED;height: 50px;margin-left: 10%;font-size: x-large;float: left;}
			h1{
				padding-left: 800px;
			}
			#div_5{padding-left: 800px;}
			#div_7{
				padding: 50px;
			}
		
			