<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.course.mappers.CourseMapper">
    <select id="queryCourse" resultType="com.demo.course.entity.Course">
        select * from tb_course
        <where>
            <if test="name!=null and name!=''">
                name like concat('%',name=#{name},'%')
            </if>
            <if test="type!=null and type!=''">
            and type=#{type}
            </if>
        </where>
    </select>
</mapper>