#img_lunbo img{
	width: 100%;
	height:600px;
}
.nav li{
	color: white;
	font-size: 15px;
}
#button:hover{
	background-color: orange;
}
/* 展示 */
#button_carShow button{
	background-color: white;
	width: 143px;
    height: 50px;
    border: solid 1px #cccccc;
}
/* 虚浮 */
#button_carShow button:hover{
	background-color:#0e90d2;
	color: white;
}
#button_carShow .Dyibutton{
	background-color: #0e90d2;;
	color: white;
}
/* 三张图片的效果 */
#Sanimg img{
	width: 90%;
}
/* #Sanimg img:hover{
	transition:1s;
	position: absolute;
} */
/* 查看跟多 */
#ChakAn button{
    width: 150px;
    height: 48px;
    background-color: #3186E0;
    border-radius: 24px;
    font-size: 16px;
    color: #fff;
    line-height: 48px;
    text-align: center;
    transition: 0.2s;	
	border: 0px;
}
#ChakAn button:hover{
	background: orange;
}
/* 中间部分的三张图片 */
#Button_Img{
	width: 90%;
	color: black;
}
#Button_Img img{
	width: 100%;
}
#Button_Img img:hover{
	width: 100%;
	transition: 0.3s;
}
/* 价格背景 */
#Hover_price{
	line-height: 80px;
	height: 80px;
	margin-left: 0.25px;
	width: 100%;
	background-color: white;
}
/* 字体颜色 */
#price{
	color: #0E90D2;
}
#Button_Img #Hover_price:hover{
	background: #0E90D2;
	color: white;
    transition: 0.3s;
    box-sizing: border-box;
}
/* 查看跟多 */
#ChakAn1 button{
    width: 150px;
    height: 48px;
    background-color: #3186E0;
    font-size: 16px;
    color: #fff;
    line-height: 48px;
    text-align: center;
    transition: 0.2s;	
	border: 0px;
	margin-left: 260px;
	margin-top: 45px;
	border-radius: 10px;
}
/* 虚浮 */
#ChakAn1 button:hover{
	background: orange;
}
/* 关于我们 */
#gywm a{
	color: black;
	font-size: 15px;
}
#gywm a:hover{
	font-weight: bold;
	color: #0E90D2;
	text-decoration: underline;
}
/* 尾部的input */
#footer_input input{
	border: 1px solid white;
	background-color: #000000;
	width: 250px;
	height: 40px;
}
/* a按钮 */
#LjiTiji{
    width: 140px;
    height: 50px;
	line-height: 40px;
    background-color: #3186E0;
    border-radius: 24px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    transition: 0.2s;	
	border: 0px;	
}
#LjiTiji:hover{
 background: orange;
}
#weibu{
	color: white;
}
#weibu a{
	color: white;
}

#but_but{
	background-color: black;
	color: white;
	border: 0px solid;
	line-height: 10px;
}
#but_but:hover{
	font-weight: bold;
    border-bottom: 3px solid #3186E0;
}



/* 管理员登录样式 */
#Userinput{
	width: 200px;
	height: 30px;
}
#Userbutton{
	border: 0px;
	background-color: #0E90D2;
	color: white;
}
#Userbutton:hover{
	border: 0px;
	background-color: orange;
}

/* 管理员管理系统 */
#but_but1{
	background-color: #0E90D2;
	color: white;
	border: 0px solid;
	height: 30px;
	line-height: 10px;
}
#but_but1:hover{
	font-weight: bold;
	color: white;
    background-color: orange;
}