<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tour.mapper.TourMapper">
    <select id="queryThings" resultType="com.tour.model.Tour">
        select * from tb_tourinfo
        <where>
            <if test="name!=null and name!=''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="sex!=null and sex!=''">
                and sex=#{sex}
            </if>
            <if test="type!=-1">
                and type=#{type}
            </if>
        </where>
        order by register_time desc
    </select>
</mapper>